.aph-buradio-admin-main-wrapper {
  padding: 0 10px 0 0;
}

.aph-buradio-admin-heading {
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

.aph-buradio-admin-addnew-btn {
  font-size: 14px;
  border: 0;
  background-color: blueviolet;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 2px;
  margin: 10px 0;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  display: block;
}

.aph-buradio-admin-howto-btn {
  display: block;
  float: right;
  margin-top: -35px;
  font-size: 14px;
}

.aph-buradio-admin-playlist-table table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  width: 400px;
}

.aph-buradio-admin-playlist-table td,
.aph-buradio-admin-playlist-table th {
  padding: 10px;
  max-width: 400px;
  border: 1px solid #D9E4E6;
}

.aph-buradio-admin-playlist-table .aph-buradio-admin-playlist-table-responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  margin-bottom: 50px;
}

.aph-buradio-admin-playlist-table .aph-buradio-admin-playlist-table-responstable tr {
  border: 1px solid #D9E4E6;
  height: 30px;
  width: 400px;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.aph-buradio-admin-playlist-table .aph-buradio-admin-playlist-table-responstable th {
  border: 1px solid #D9E4E6;
  background-color: rgb(92, 187, 224);
  color: #ffffff;
}

.aph-buradio-admin-playlist-table .aph-buradio-admin-playlist-table-responstable td:first-child {
  display: table-cell;
  text-align: left;
  border-right: 1px solid #D9E4E6;
}

.aph-buradio-admin-playlist-table .aph-buradio-admin-playlist-table-responstable tr:last-child {
  border: 1px solid #D9E4E6;
  background-color: rgb(92, 187, 224);
  color: #ffffff;
  font-weight: bold;
}

.aph-buradio-admin-playlist-details p {
  padding: 0;
  margin: 0;
}

.aph-buradio-admin-playlist-details-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.aph-buradio-admin-playlist-details-host {
  font-size: 14px;
  margin: 0;
}

.aph-buradio-admin-playlist-details-link {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

.aph-buradio-admin-edit-btn {
  margin: 0;
  width: 80px;
  margin-bottom: 5px;
  border: 2px solid blueviolet;
  font-size: 14px;
  background-color: #ffffff;
  color: blueviolet;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.aph-buradio-admin-delete-btn {
  margin: 0;
  width: 80px;
  border: none;
  color: orangered;
  background-color: #ffffff;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.aph-buradio-admin-delete-btn:hover {
  text-decoration: underline;
}

.aph-buradio-admin-modal {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
}

.aph-buradio-admin-modal-edit {
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 50px;
}

.aph-buradio-admin-modal.showpopup {
  display: block;
}

.aph-buradio-admin-modal-form {
  background: #fff;
  max-width: 700px;
  position: relative;
  top: 10%;
  padding: 15px;
  border-radius: 4px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.aph-buradio-admin-close-btn {
  background: orangered;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin-top: -10px;
  margin-right: -10px;
}

.aph-buradio-admin-details-heading {
  margin-top: 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;
}

.aph-buradio-admin-details label {
  display: block;
  font-size: 14px;
  color: #000000;
  cursor: default;
}

.aph-buradio-admin-details input {
  max-width: 500px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

.aph-buradio-admin-details textarea {
  max-width: 500px;
  width: 100%;
  resize: none;
  height: 70px;
  font-size: 14px;
  display: block;
}

.aph-buradio-admin-details-save-btn {
  font-size: 14px;
  border: 0;
  background-color: blueviolet;
  padding: 10px;
  color: #ffffff;
  border-radius: 2px;
  margin: 10px 0;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: 120px;
}

.aph-buradio-admin-details-cancel-btn {
  margin: 0;
  width: 80px;
  border: none;
  color: orangered;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  width: 120px;
}